body {

     

   }

   /* list */

   .list{

      text-align: center;

      font-size: 2.2rem;

      font-weight: 700;

      font-style: italic;

      border-bottom: 3px solid orange;

   }

   /* input */

   .user-list{

      width: 350px;

      height: 40px;

      background: #ddd;

      color: #000;

      font-size: 18px;

      font-weight:600;

      border:2px solid black;

      border-radius: 7px;

      margin-top: 20px;

   }

   /* button */ 

   .sign-list{

      width:100px;

      height:40px;

      background-color: orangered;

      color:#000;

      font-size: 16px;

      font-weight: 500;

      border-radius: 7px;

      margin-top: 20px;

   }

   .sign-list:hover{

      background-color: blue;

   }

   /* ul */

   .main-list{

      list-style: none;

      font-size: 20px;

      font-weight: 600;

      margin: 30px 10px 10px 0;

   }

   /*clear button*/

   .remove{

      margin-top: 20px;

      width:100px;

      height:40px;

      background-color: orangered;

      color:#000;

      font-size: 16px;

      font-weight: 500;

      border-radius: 7px;

      margin-top: 20px;

   }

   .remove:hover{

      background-color: blue;

   }
